*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray!important;
}

.presentation {
    background-size: cover;
}

.presentation-page {
    height: 100vh;
}

@media screen and (min-width: 800px) {
    
  }
