@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-cream!important;
    font-family: $fontworksans;
}

.margin {
    margin: 8rem 1rem 0 1rem!important;
}

// presentation page start

.presentation{
    background-size: cover;
}

.presentation-page{
    height: 100vh;
    color: $color-olive;
}

.presentation-classdesktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1, h2{
        text-shadow: -1px 0 $color-black, 0 1px $color-black,
            1px 0 $color-black, 0 -1px $color-black;
        font-size: 4rem;
    }
    h3{
        font-size: 2rem;
    }
}

.presentation-classmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    color: $color-anthracite;
    h1, h2{
        font-weight: bold;
        font-size: 2rem;
    }
    h3{
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    h3:nth-of-type(2){
        margin-top: 0;
        margin-bottom: 2.5rem;
    }
}

// presentation page end

// nav-bar start

.navbar-nav {
    a {
        min-width: 10rem!important;
    }
}

.homenavbar button:focus{
    outline: 15px auto $color-sky!important;
}

.homenavbar-classdesktop{
    background-color: $color-olive;
    span{
        color: $color-black!important;
        font-size: 2.5rem!important;
        padding-right: 2rem!important;
    }
    a {
        color: $color-cream!important;
        font-size: 2rem;
    }
}

.homenavbar-classmobile{
    background-color: $color-olive;
    span{
        color: $color-black!important;
        font-size: 1.5rem!important;
    }
    a {
        color: $color-cream!important;
        font-size: 2rem;
    }
}

.container{
    margin-right: 1rem!important;
    margin-left: initial!important;
}

.navbar-toggler{
    border-color: $color-cream!important;
}

.navbar-toggler-icon{
    color: $color-cream!important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241, 243, 242, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

.navbar-nav a {
    min-width: 3rem !important;
    padding-right: 2rem!important;
    white-space: nowrap;
}

.symfreact {
    a {
    color: $color-black!important;
    font-size: 2.5rem!important;
    cursor: text;
    }
    a:hover {
        text-decoration: none;
    }
}

.homenavbar-classmobile .symfreact a {
    font-size: 1.5rem!important;
}

@media screen and (max-width: 322px){
    .homenavbar-classmobile span{
            font-size: 1rem!important;
    }
    .homenavbar-classmobile .symfreact a {
        font-size: 1rem!important;
    }
}

// nav-bar end


// projects start

.projects{
    background-color:  $color-cream;
    min-height: 100vh;
    font-family: $fontbodini;
}

.projects-page-classdesktop{
    text-align: center;
    padding-top: 8rem;
    h1{
        font-size: 3rem;
    }
}

.projects-page-classmobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6rem;
    h1, h2{
        font-size: 2.5rem;
    }
}

.projects-cards{
    border: 1px solid green!important;
    margin: 5rem auto;
    width: 90%!important;
    list-style: none;
}

// projects end

// cards start

.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 25%;
}

.cards_wrap .card_inner{
	background: $color-cream;
    border: 2px solid $color-anthracite;
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: $color-olive;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #b6c0c2;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}

.card_margin{
    margin: 2rem 1rem;
}

.card_button{
    color: $color-black!important;
    font-weight: bold!important;
    background-color: $color-olive!important;
    border: 2px solid $color-olive!important;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    img{
        margin-left: 1rem;
    }
}

.card-footer{
    background-color: #FFFFFF!important;
    img{
    margin-right: .5rem;
    }
}

.cards_wrap {
    justify-content: space-evenly;
}

// cards end

// about me start

.aboutme-firstsection {
    margin-top: 10rem;
    header {
        padding: 1rem 0 2rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        a {
            padding-left: 5rem;
        }
    }
    article {
        text-align: justify;
        padding-bottom: .5rem;
        h2 {
            margin: 1rem 0;
            color: $color-cream;
            padding: .5rem 4rem;
            background-color: $color-anthracite;
            font-family: $fontbodini;
        }
        div {
            padding: 1rem 4rem 0 4rem;
        }
        ul {
            padding: 1rem;
            li {
                list-style-type: circle;
                padding: .5rem 0;
            }
        }
    }

    h5 {
        font-weight: bold;
    }
}

@media screen and (max-width: 768px){
    .aboutme-firstsection {
        margin-top: 6rem;
        article {
            margin: 1rem 0;
            div {
                padding: 2rem 3rem;
            }
        }
        header {
            justify-content: space-evenly;
            a {
                padding-left: 0;
            }
        }
        h5 {
            text-align: initial;
        }
    }
}
    
// about me end

// login start

.index {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

