@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray!important;
    font-family: $fontworksans;
}

// presentation page start

.presentation{
    background-size: cover;
}

.presentation-page{
    height: 100vh;
    color: #81a3a7;
}

.presentation-classdesktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1, h2{
        text-shadow: -1px 0 #272424, 0 1px #272424,
            1px 0 #272424, 0 -1px #272424;
        font-size: 4rem;
    }
    h3{
        font-size: 2rem;
    }
}

.presentation-classmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    color: #585a56;
    h1, h2{
        font-weight: bold;
        font-size: 2rem;
    }
    h3{
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    h3:nth-of-type(2){
        margin-top: 0;
    }
}

// presentation page end

// nav-bar start

.navbar{
    position: absolute!important;
    top: 0!important;
    width: 100vw!important;
}

.homenavbar-classdesktop{
    background-color: #81a3a7;
    span{
        color: #272424!important;
        font-size: 2.5rem!important;
        padding-right: 2rem!important;
    }
    a {
        color: #f1f3f2!important;
        font-size: 2rem;
    }
}

.homenavbar-classmobile{
    background-color: #81a3a7;
    span{
        color: #272424!important;
        font-size: 1.5rem!important;
    }
    a {
        color: #f1f3f2!important;
        font-size: 2rem;
    }
}

.container{
    margin-left: 0!important;
}

.navbar-toggler{
    border-color: #f1f3f2!important;
}

.navbar-toggler-icon{
    color: #f1f3f2!important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241, 243, 242, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

// nav-bar end


// projects start

.projects{
    background-color:  #f1f2f3;
    min-height: 100vh;
    font-family: $fontbodini;
}

.projects-classdesktop{
    text-align: center;
    padding-top: 10rem;
    h1{
        font-size: 3rem;
    }
}

.projects-classmobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6rem;
    h1, h2{
        font-size: 2.5rem;
    }
}

.projects-cards{
    li{
        width: auto;
        .projects-card{
            margin: 1rem auto;
        }
    }
}
